/* tag name selector */

nav{
    background-color: bisque;
}

/* class name selector */

.outer{
    background-color: darkgray;
    height: 500px;
    width: 400px;
}

.inner{
    background-color: antiquewhite;
    height: 350px;
    width: 300px;
}

/* combinator selector by targetting direct child */

/* dirct child selector */
/* by giving > (greater than symbol) */
.outer > h2{
        color: deeppink
}

nav > #logo{
    color: indigo;
}

/* Descendent Selector */
/* by giving (space) */
.outer h1{
    color: darkred
}